<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Create New Product</title>
	</head>
	<body>
		<h1>Add Product</h1>
		<form action="/products" method="POST">
			<label for="productName">Add Product Name</label>
			<input
				type="text"
				name="name"
				placeholder="Product Name"
				id="productName"
			/>
			<label for="price">Add Price</label>
			<input
				type="number"
				name="price"
				placeholder="Product Price"
				id="price"
			/>
			<label for="category">Choose Product Category</label>
			<select name="category" id="category">
				<option value="fruit">fruit</option>
				<option value="vegetable">vegetable</option>
				<option value="diary">diary</option>
			</select>
			<button type="submit">Submit</button>
		</form>
	</body>
</html>
